@font-face {
    font-family: main-font;
    src: url(./fonts/Caveat-VariableFont_wght.ttf);
}
:root {
    --orange: rgb(247, 215, 186);
    --pink: rgba(253, 207, 217, 0.637);
    --yellow: rgb(252, 247, 217);
    --green: rgb(224, 250, 241);
    --blue: rgb(210, 230, 252);
    --title-font: clamp(20px, 2vw, 2rem);
    --main-font: clamp(16px, 1.6vw, 1.5rem);
    --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    --shadow-two: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    --font-color:rgb(124, 113, 128);
}

body {
    font-family: main-font;
    color: var(--font-color);
    font-size: var(--main-font);
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: minmax(12rem, 1fr) 3fr 1fr;
    grid-template-rows: .5fr 2fr 2fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: var(--pink);
    padding: .2rem;
    padding-top: 0;
    box-shadow: var(--shadow-two);
}

.photo {
    width: calc(var(--title-font) + 1rem);
    border-radius: 1.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.logo {
    margin: 1rem;
    font-size: calc(var(--title-font) + .4rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard {
    margin: .2rem;
    margin-left: 0;
    width: var(--title-font);
    filter: invert(45%);
}

.menu {
    background-color: var(--yellow);
    box-shadow: var(--shadow);
    transition: all .4s;
}

.menu:hover {
    transform: scale(1.02);
}
.admin {
    background-color: var(--yellow);
    box-shadow: var(--shadow);
    transform: rotate(.6deg);
    transition: all .3s;
}

.admin:hover {
    transform: rotate(0);
}

.menu ul, .admin ul {
    margin: .5rem;
    padding: .8rem;
}
li a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    transition: all .2s;
}

ul li::marker {
    content: ""
}

ul li:hover {
    transform: scale(1.1);
}

.seach {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .5fr 1fr;
    gap: 1rem;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    box-shadow: var(--shadow-two);
    background-color: var(--orange);
    transform: scale(.99);
    transition: all .5s;
    padding: 1rem;
}

.seach:hover {
    transform: scale(1);
}

form div {
    display: flex;
    flex-direction: row;
}
img[alt=Search] {
    margin: 0;
}
input {
    flex: 1;
    margin: .5rem;
    background-color: var(--orange);
    border-radius: 1rem;
    border: 1px solid var(--font-color);
}

.user div {
    display: flex;
    align-items: center;
    justify-content: center;
}

input:focus {
    box-shadow: var(--shadow);
    border: 1px solid blue;
    outline: none;
}

.seach-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.user {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.greeting {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.pin1 {
    position: relative;
    left: 40%;
    width: calc(var(--title-font) + .3rem);
}

.announce .pin1 {
    transform: rotate(-20deg);
}

.trending .pin1 {
    transform: rotate(-31deg);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    padding: .1rem;
}
.card {
    background-color: var(--green);
    margin: .1rem;
    padding: .5rem;
    box-shadow: var(--shadow);
    transition: all .3s;
    text-decoration: none;
}

.card:hover {
    transform: rotate(1deg);
}

.pic {
    border-radius: .5rem;
    height: 8rem;
    margin: .5rem;
    padding: 0;
    filter: grayscale(50%);
}

.thumb img, .eye img, .github img {
    width: var(--main-font);
    margin-left: .5rem;
    filter: invert(45%);
}

.thumb:focus, .eye:focus, .github:focus {
    transform: scale(1.1);
}

.social {
    display: flex;
    justify-content: center;
}

.calculator {
    background-image: url("./img/proffery.github.io_odin-calculator_.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.rock-paper-scissors {
    background-image: url("./img/proffery.github.io_odin-rock-paper-scissors_.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.recipes {
    background-image: url("./img/proffery.github.io_odin-recipes_index.html.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.sketch {
    background-image: url("./img/proffery.github.io_odin-etch-a-sketch_.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    background-image: url("./img/proffery.github.io_odin-sign-up-form_.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.page {
    background-image: url("./img/proffery.github.io_odin-landing-page_.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.descr {
    text-align:left;
    margin: .5rem;
}

.title {
    text-align: center;
    font-size: var(--title-font);
    font-weight: 600;
    margin: 0;
}

.announce {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: var(--blue);
    box-shadow: var(--shadow-two);
    transform: rotate(1deg);
    transition: all .5s;
}

.announce:hover {
    transform: rotate(0);
}

.trending {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: var(--blue);
    box-shadow: var(--shadow);
    transform: scale(1.05);
    transform: rotate(-1deg);
}

.trending:hover {
    transition: all 1s;
    transform: rotate(0);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

a:visited {
    color: var(--font-color);
}