:root {
    --sidebar-back: rgba(197, 197, 230, 0.637);
    --seach-back: white;
    --other-back: rgb(224, 250, 241);
    --title-font: clamp(20px, 2vw, 2rem);
    --main-font: clamp(16px, 1.6vw, 1.5rem);
    --shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    --shadow-two:  rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}


body {
    font-size: var(--main-font);
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: .5fr 2fr 2fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: var(--sidebar-back);
    padding: .5rem;
    box-shadow: var(--shadow);
}

.photo {
    width: calc(var(--title-font) + 1rem);
    margin: .5rem;
    border-radius: .5rem;
    box-shadow: var(--shadow);
}

.logo {
    font-size: var(--title-font);
    font-weight: 600;
    display: flex;
    align-items: center;
}

ul li {
    margin: .5rem;
}

ul li::marker {
    content: "📄"
}
.seach {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    box-shadow: var(--shadow-two);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: var(--other-back);
    padding: .5rem;
    box-shadow: var(--shadow);
}

.card {
    display: flex;
    justify-content:space-around;
    align-items:normal;
    margin: .5rem;
    opacity: .9;
    box-shadow: var(--shadow);
}

.card a {
    text-decoration: none;
    padding: 1rem;
    background-image: linear-gradient(to right, rgba(19, 94, 134, 0.473) , rgba(19, 19, 18, 0.685));
}

.calculator {
    background-image: url("./img/proffery.github.io_odin-calculator_.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.rock-paper-scissors {
    background-image: url("./img/proffery.github.io_odin-rock-paper-scissors_.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.recipes {
    background-image: url("./img/proffery.github.io_odin-recipes_index.html.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.sketch {
    background-image: url("./img/proffery.github.io_odin-etch-a-sketch_.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    background-image: url("./img/proffery.github.io_odin-sign-up-form_.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.page {
    background-image: url("./img/proffery.github.io_odin-landing-page_.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.card:hover {
    opacity: 1;
}

.descr {
    color: var(--seach-back);
    text-align: center;
}

.title {
    color: var(--seach-back);
    text-align: center;
    font-size: var(--title-font);
    font-weight: 600;
    margin: 0;
    box-shadow: var(--shadow-two);
}

.announce {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: var(--other-back);
    box-shadow: var(--shadow-two);
}

.trending {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: var(--other-back);
    box-shadow: var(--shadow);
}